__pycache__/
*.py[cod]
.venv*/
venv/
.env
.env.local
dist/
/build/
*.egg-info/
.dont-break/

frontend/node_modules/
frontend/dist/
frontend/tsconfig.tsbuildinfo
dont_break/static/

.DS_Store
node_modules/
frontend/dont_break/static/
